body
{ background: none;
  font-family: Georgia; }

h1, h2, h3, h4, h5, h6, table,
#mw-head, #mw-panel,
#content #bodyContent > p b
{ font-family: "Myriad Pro", Georgia; }

h3, h4, h5, h6
{ padding-bottom: 0; }

#mw-page-base
{ background: none;
  height: 3em; }
#mw-head-base
{ display: none; }

#content :link,
#mw-panel :link,
#mw-head :link
{ text-decoration: none; }
#content :link:hover,
#mw-panel :link:hover,
#mw-head #left-navigation :link:hover,
#mw-head #p-views :link:not([accesskey=w]):hover,
#mw-head #p-personal :link:hover
{ border-bottom: .99px solid currentcolor; }

#mw-head
{ opacity: .2;
  -webkit-transition: .5s opacity; }
#mw-head:hover
{ opacity: 1; }

#mw-panel, #mw-head
{ -webkit-animation: fade-in 2s; }
@-webkit-keyframes fade-in
{ 0% { opacity: 0; }
  50% { opacity: 0; } }

#mw-head #left-navigation,
#mw-head #right-navigation
{ float: left; }
#mw-head #left-navigation
{ position: static;
  margin-left: 5em; }
#mw-head #right-navigation
{ margin-top: 0; }
#mw-head .vectorTabs,
#mw-head .vectorTabs ul,
#mw-head .vectorTabs li,
#mw-head #p-cactions a
{ background: none;
  height: auto; }
#mw-head .vectorTabs li a:not([accesskey=w])
{ background: none;
  font-size: .75em;
  padding: .5em 0 0 0;
  margin-left: .75em;
  line-height: 1.125;
  height: auto; }
#mw-head #ca-unwatch.icon a,
#mw-head #ca-watch.icon a
{ padding-top: 2em;
  margin-left: .75em;
  height: 0; }
#mw-head #p-cactions,
#mw-head #p-cactions h5 a
{ height: 1.5em; }
#mw-head #p-cactions .menu ul
{ border: none;
  background: #f9f9f9;
  min-width: 5em; }

#mw-head #p-views
{ margin-left: .5em; }

#mw-head #ca-view:not(.selected),
#mw-head #ca-edit:not(.selected)
{ font-weight: bold; }

#mw-head #p-search
{ display: none; }

#mw-head #p-personal ul
{ padding-left: 0; }

#mw-head #pt-userpage,
#mw-head #pt-watchlist,
#mw-head #pt-mycontris
{ display: none; }

#mw-panel
{ position: static !important; }
#mw-panel .portal:not(#p-lang)
{ display: none; }
#mw-panel #p-lang
{ background: none;
  margin: 0;
  padding: 0 !important;
  position: absolute;
  top: 0;
  left: 0; }
#mw-panel #p-lang .body
{ margin-left: 0; }
#mw-panel #p-lang h5
{ display: none; }
#mw-panel #p-lang li
{ display: inline;
  line-height: 1.125;
  position: relative;
  top: .45em; }
#mw-panel #p-lang :link,
#mw-panel #p-lang :visited
{ padding: .5em 1em;
  color: white;
  background: black;
  -webkit-transition: .2s background; }
#mw-panel #p-lang a:hover
{ background: blue; }

#footer
{ visibility: hidden; }

body #content
{ margin: auto;
  width: 480px;
  background: none; }
.page-Main_Page #content
{ width: 960px; }

#content #bodyContent,
#content p,
#content ul,
#content ol,
#content dd
{ line-height: 1.6; }

#content p
{ margin: 1em 0; }

h1, h2, h3, h4, h5, h6
{ line-height: 1.2;
  padding-top: 0;
  margin-top: 1em; }

#content ul
{ list-style-image: none; }
#content .reference
{ font-family: "Myriad Pro", Georgia;
  margin-left: .2em;
  opacity: .5;
  -webkit-transition: .5s opacity; }
#content .reference + .reference
{ margin-left: 0; }
#content .reference + .reference:before
{ content: ", "; }
#content .reference a span
{ display: none; }
#content .reference:hover
{ opacity: 1; }

#content .noprint
{ font-family: Myriad Pro;
  margin-left: .2em;
  opacity: .5;
  -webkit-transition: .5s opacity; }
#content .noprint:hover
{ opacity: 1; }
#content .noprint i
{ background: white;
  margin: 0 -.3em;
  padding: 0 .3em;
  position: relative; }

#content #firstHeading
{ border-bottom: none; }
#content #siteSub
{ display: none; }

#content #bodyContent > p:first-of-type
{ margin-top: 1.125em; }

#content #contentSub, #content #contentSub2
{ color: black;
  opacity: .3;
  font-family: "Myriad Pro"; }

#content .catlinks
{ font-family: "Myriad Pro", Georgia !important;
  padding: .8em 1.2em;
  background: white;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 8px #ddd;
  color: white;
  overflow: hidden; }
#content .catlinks > * > *
{ float: left;
  margin-left: .5em; }
#content .catlinks > * > span:not(:first-of-type)::before
{ content: "•";
  color: gray;
  margin-right: .5em; }
#content .catlinks a[title="Special:Categories"]
{ font-weight: bold;
  margin-right: .5em;
  border-bottom: none !important; }
#content .catlinks a[title="Special:Categories"]::after
{ content: ":";
  color: black; }

#content #toc,
#content .infobox,
#content .vertical-navbox
{ margin: 1em -240px 2em 2em !important;
  padding: .8em 1.2em !important;
  font-family: "Myriad Pro", Georgia !important;
  line-height: 1.4;
  border: none !important;
  background: white !important;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 8px #ddd; }

#content #toc
{ margin: 1.5em 0 !important;
  padding: .8em 1.6em !important; }

#content .tright
{ margin-right: -240px; }
#content .tleft
{ margin-left: -240px; }
#content .thumb
{ font-family: "Myriad Pro", Georgia;
  line-height: 1.6; }

#content #toc ul
{ margin: 0; }
#content #toc #toctitle
{ display: none; }
#content #toc .tocnumber
{ margin-right: .3em;
  color: gray;
  opacity: .5; }
#content #toc ul ul
{ margin: 0 0 0 1em; }

#content h2
{ border-color: #ddd;
  border-width: .99px; }
#content .editsection
{ opacity: .2;
  -webkit-transition: .5s opacity; }
#content .editsection:hover
{ opacity: 1; }

#content h2 + .dablink,
#content h3 + .dablink,
#content h4 + .dablink,
#content h2 + .rellink,
#content h3 + .rellink,
#content h4 + .rellink
{ margin-top: -.5em; }

#content .rellink,
#content .dablink,
#content .metadata
{ opacity: .5;
  -webkit-transition: .5s opacity; }
#content .rellink:hover,
#content .dablink:hover,
#content .metadata:hover
{ opacity: 1; }

#content .catlinks,
#content .cmbox,
#content .fmbox,
#content .infobox,
#content .mbox-small,
#content .navbox,
#content .ombox,
#content .template-documentation,
#content .tmbox,
#content .tright,
#content .vertical-navbox,
#content pre,
#content td.MainPageBG,
#content td.MainPageBG h2,
#content #mp-topbanner
{ border: none !important; }

#content .ambox
{ border-top: none;
  border-bottom: none;
  border-right: none; }

#content .mbox-small-left
{ margin: .5em 0 1em 0; }

#content .thumb
{ margin-bottom: 1em; }
#content .thumbimage
{ border: none; }
#content .thumbinner
{ background: none;
  border: none;
  padding: 0 !important; }
#content .thumbcaption .magnify
{ display: none; }

#content .references-column-width
{ column-width: auto !important;
  -webkit-column-width: auto !important;
  -moz-column-width: auto !important; }

#content .references-column-count
{ column-count: 1 !important;
  -webkit-column-count: 1 !important;
  -moz-column-count: 1 !important; }

#content .mw-geshi
{ padding: 1ex 1em;
  border: none;
  background: none; }

#content .infobox.geography tr:first-child th
{ border-top: none; }
